node_modules
dist
npm-debug.log
mongodata
.vscode
.idea
.DS_Store
contracts/*
coverage
config/default.yaml
test-report.xml
test-reports
report-lint.json
.node-xmlhttprequest-*

src/middleware/server-config/routes.ts
fileWithVerificationLink.pdf
