registry=https://nexus.solutions.consensys-uk.net/repository/komgo-npm-group/
//nexus.solutions.consensys-uk.net/repository/komgo-npm-hosted/:_authToken=${NPM_TOKEN}
//nexus.solutions.consensys-uk.net/repository/komgo-npm-group/:_authToken=${NPM_TOKEN}
@komgo:registry=https://nexus.solutions.consensys-uk.net/repository/komgo-npm-hosted/