@font-face {
    font-family: LotaGrotesque;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Los Andes - Lota Grotesque Light.otf') format("opentype")
}

body, html {
    font-family: LotaGrotesque, sans-serif;
}

.login-pf body {
    background: #3e0082;
}

.login-pf-page-header {
    position: fixed;
    z-index: -1;
    background: url('../img/transparent.svg') no-repeat;
    background-size: contain;
    width: 782px;
    height: 411px
}

#kc-header-wrapper {
    position: absolute;
    z-index: -1;
    background: url('../img/logo.svg') no-repeat;
    background-size: contain;
    width: 150px;
    height: 49px;
    top: 169px;
    left: 80px;
    color: transparent;
}

.card-pf {
    height: 100vh;
    float: right;
    margin: 0;
    width: 100%;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
}

#kc-content {
    max-width: 600px;
}

.login-pf-page .login-pf-header {
    margin-bottom: 0;
}

.login-pf-header {
    margin-top: calc(50vh - 165px);
}

.login-pf-header > h1 {
    position: relative;
    font-family: LotaGrotesque, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #142435;
}

.login-pf-page .login-pf-settings {
    display: block;
}

#kc-page-title {
    text-align: left;
}

#kc-form {
    display: flex;
    flex-direction: column;
}

#kc-form-wrapper {
    padding-right: 0;
    max-width: none;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

#kc-form-wrapper:after {
    content: "";
    background: #ccc;
    position: absolute;
    bottom: 0;
    left: 25%;
    height: 1px;
    width: 50%;
}

#kc-social-providers {
    padding-left: 0;
    max-width: none;
    width: 100%;
    border-left: none;
}

.login-pf-page .login-pf-signup {
    width: 449px;
    height: 42px;
    font-family: LotaGrotesque, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #1c2936;
    margin: 0;
    text-align: left;
}

.form-group {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

label.control-label {
    display: none;
}

input::placeholder {
    font-family: LotaGrotesque, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal !important;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #7f95aa;
}

input.form-control {
    position: relative;
    border-radius: 3px;
    box-shadow: inset 0 2px 2px 0 rgba(232, 238, 243, 0.8);
    border: solid 1px #c0cfde;
    background-color: #ffffff;
}

.btn-primary {
    background-image: linear-gradient(to bottom, rgba(87, 0, 181, 0), rgba(62, 0, 130, 0.5)), linear-gradient(to bottom, #5700b5, #5700b5);
    border-radius: 3px;
    border: solid 1px #3e0082;
    margin: 0 !important;
    height: 38px;
    font-family: LotaGrotesque, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

ul.login-pf-social li.login-pf-social-link a.zocial {
    background-image: linear-gradient(to bottom, rgba(87, 0, 181, 0), rgba(62, 0, 130, 0.5)), linear-gradient(to bottom, #5700b5, #5700b5);
    border-radius: 3px;
    border: solid 1px #3e0082;
    margin: 0 !important;
    height: 38px;
    font-family: LotaGrotesque, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    box-shadow: none;
    color: #ffffff;
}

.btn-primary:hover {
    background: #3e0082 none;
}

.btn-primary:focus {
    background: #3e0082 none;
}

.btn-primary:active {
    background: #3e0082 none;
}

.alert {
    border-radius: 2px;
    box-shadow: inset 0 2px 2px 0 rgba(212, 92, 100, 0.15);
    border: solid 1px #d45c64;
    background-color: #fcf2f2;
    max-width: 600px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}

.pficon.pficon-error-circle-o{
    display: none;
}

.pficon.pficon-warning-triangle-o{
    display: none;
}

#kc-update-profile-form > div:nth-child(1) {
    display: none;
}

.alert .kc-feedback-text {
    font-family: LotaGrotesque, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #d45c64;
}

.login-pf-page .card-pf {
    display: block;
    max-width: 600px;
    padding-left: 40px;
    padding-right: 40px;

}

@media only screen and (min-width: 600px) {
    .login-pf-page .card-pf {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media only screen and (min-width: 1200px) {
    .login-pf-page .card-pf {
        width: 50%;
        max-width: none;
    }
}
