@komgo:registry=https://nexus.solutions.consensys-uk.net/repository/komgo-npm-hosted/
//nexus.solutions.consensys-uk.net/repository/komgo-npm-hosted/:_authToken=NpmToken.8bb479e3-3fbc-3ee0-94f3-f4f40d7cddf5